/**********************************************
Root variables
**********************************************/
:root {
	--clr-def: #fff;
	--clr-accent: #4d8580;
	--clr-accent-light: #81bab5;
	--clr-accent-lighter: #d9f0e6;
	--clr-grey: #95989a;
	--clr-bg-accent: #d9f0e6;
	--clr-bg-light: #373737;
	--clr-bg-middle: #2d2d2d;
	--clr-bg-dark: #272727;
	--clr-transparent: hsl(120deg 75% 25% / 0);

	--ff-def: "Lato", sans-serif;
	--ff-header: "Anton", sans-serif;
	--ff-subHeader: "Fjalla One", sans-serif;
	--ff-cta: "Merriweather", serif;

	--fw-100: 100;
	--fw-300: 300;
	--fw-400: 400;
	--fw-600: 700;
	--fw-800: 900;
}

/**********************************************
Global styles
**********************************************/
/* Box sizing rules -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* ----------Sections---------- */
header {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 10;
}

body {
	min-height: 100vh;
	min-height: 100svh; /* Suggested by Kevin Powell - https://www.youtube.com/@KevinPowell */
	background-color: var(--clr-bg-dark);
	font-family: var(--ff-def);
	color: var(--clr-def);
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header,
footer {
	background-color: var(--clr-bg-middle);
	padding: 1rem 0;
}

footer {
	padding-bottom: 0;
}

footer h2 {
	font-family: var(--ff-def);
	font-weight: var(--fw-600);
	text-transform: uppercase;
	font-size: 1rem;
}

main {
	margin-inline: auto;
	background-color: var(--clr-bg-light);
}

nav li,
footer li {
	list-style: none;
}

nav a,
footer a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--clr-def);
}

nav a:is(:hover, :active),
footer a:is(:hover, :active) {
	text-decoration: underline;
}

footer ul {
	margin-block: 0;
	padding-inline: 0;
	margin-top: 0.5rem;
	padding: 0;
}

footer a {
	text-transform: none;
	line-height: 1.5rem;
}

/* ----------Elements---------- */
h1 {
	font-family: var(--ff-header);
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 4.5rem;
	padding-top: 20%;
}

h1 span {
	display: block;
}

h2 {
	margin: 5rem auto 1rem auto;
	font-family: var(--ff-subHeader);
	font-size: 2rem;
}

footer h2 {
	margin-top: 0;
}

h3 {
	font-weight: var(--fw-800);
	font-size: 1.25rem;
}

img {
	/* Suggested by Kevin Powell - https://www.youtube.com/@KevinPowell */
	display: block;
	max-width: 100%;
}

/* ----------Cart / Checkout / Hamburger menu---------- */
.checkout-wrapper {
	display: grid;
	grid-template-columns: max-content max-content;
	border-radius: 6px;
	border: solid var(--clr-transparent) 2px;
	gap: 0;
}

.checkout-wrapper:is(:hover, :active) {
	border-color: var(--clr-def);
}

.checkout--sidecart button {
	border: 0;
	color: var(--clr-def);
	background: none;
	cursor: pointer;
}

.checkout--sidecart button:is(:hover, :active),
.checkout--cart a:is(:hover, :active),
.sidecart--link:is(:hover, :active) {
	color: var(--clr-bg-middle);
}

.checkout--cart {
	padding: 0.25rem 0.5rem;
	background-color: var(--clr-def);
	border-radius: 6px 0 0 6px;
	color: var(--clr-grey);
}

.checkout--cart a:before {
	font: var(--fa-font-solid);
	content: "\f07a";
	margin-right: 0.5rem;
}

.checkout--sidecart a,
.checkout--sidecart--mobile a,
.checkout--cart a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--clr-grey);
	font-weight: var(--fw-800);
}

.checkout--sidecart a,
.checkout--sidecart--mobile a {
	color: var(--clr-def);
}

.checkout--sidecart,
.checkout--sidecart--mobile {
	padding: 0.25rem;
	background-color: var(--clr-accent);
	border-radius: 0 6px 6px 0;
}

/* ----------Hero---------- */
.hero--img {
	background-size: cover;
	min-height: 40vh;
}

#hero--img-home {
	background: linear-gradient(to right, #000000, transparent 50%),
		url("/img/hero/home.jpg") no-repeat top center;
}

.hero--content {
	margin-left: 5rem;
	padding-bottom: 10rem;
}

.hero--content h2 {
	margin-top: 1.5rem;
}

.hero--btn {
	margin-top: 3rem;
}

.hero--btn a {
	padding: 0.5rem 1rem;
	border: solid var(--clr-def) 2px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--clr-def);
}

.hero--btn a:is(:hover, :active) {
	background-color: var(--clr-accent);
}

/* ----------IDs---------- */
#footer-logo {
	grid-area: footer-logo;
	margin: 1.5rem 0;
}

#footer-about {
	grid-area: footer-about;
	max-width: 35ch;
}

#footer-nav {
	grid-area: footer-nav;
}

#footer-help {
	grid-area: footer-help;
}

#footer-contact {
	grid-area: footer-contact;
}

#footer-contact i {
	margin-top: 2rem;
}

/* ----------Classes---------- */
.marker {
	width: 100%;
	border: solid red 4px;
	min-height: 2rem;
}

.container {
	margin-inline: auto;
}

.flex {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.flex--column {
	flex-direction: column;
}

.flex--left {
	justify-content: left;
}

.flex--space-between {
	justify-content: space-between;
}

.current {
	text-decoration: underline;
}

.cta {
	max-width: 60ch;
	margin-inline: auto;
}

.cta h2 {
	font-family: var(--ff-cta);
	font-size: 2.5rem;
	margin: 0 auto 1.5rem auto;
	padding: 0;
}

.copyright {
	margin-top: 3rem;
	padding: 0.5rem 0;
	text-align: center;
	background-color: var(--clr-bg-light);
	color: var(--clr-grey);
}

.diagonal--top,
.diagonal--bottom {
	/* Suggested by Kevin Powell - https://www.youtube.com/watch?v=hWGgw1K-i8Y */
	position: relative;
	isolation: isolate;
	margin: 3rem auto 3rem auto;
	padding: 2rem 0;
}

.diagonal--top-hero {
	margin: -2rem auto 3rem auto;
}

.diagonal--top::before {
	/* Suggested by Kevin Powell - https://www.youtube.com/watch?v=hWGgw1K-i8Y */
	content: "";
	background-color: var(--clr-accent);
	position: absolute;
	z-index: -1;
	inset: 0;
	transform: skewY(3deg);
}

.diagonal--top::after {
	content: "";
	background-color: var(--clr-accent);
	position: absolute;
	z-index: -1;
	bottom: 1;
	left: 0;
	right: 0;
	height: 5rem;
}

.diagonal--bottom::before {
	content: "";
	background-color: var(--clr-accent);
	position: absolute;
	z-index: -1;
	top: -2rem;
	left: 0;
	right: 0;
	height: 5rem;
}

.diagonal--bottom::after {
	content: "";
	background-color: var(--clr-accent);
	position: absolute;
	z-index: -1;
	inset: 0;
	transform: skewY(3deg);
}

.diagonal--bottom:last-child {
	padding-bottom: 4rem;
}

/**********************************************
Home page
**********************************************/

/**********************************************
Media queries
**********************************************/
/* ----------Mobile---------- */
@media (max-width: 766px) {
	#nav--desktop,
	#nav--mobile[data-visible="false"],
	.checkout--sidecart a {
		display: none;
	}

	#sidecart--button {
		display: block;
	}

	#footer-about,
	#footer-phone,
	#footer-email,
	#footer-contact-h2 {
		display: none;
	}

	#footer-nav {
		margin-left: auto;
		margin-right: 2rem;
	}

	#footer-help {
		margin-right: auto;
		margin-left: 2rem;
	}

	#nav--mobile ul {
		padding-inline-start: 0;
	}

	#nav--mobile nav a {
		color: var(--clr-bg-dark);
		padding: 0.25rem 3rem;
	}

	#nav--mobile a:is(:hover, :active),
	.current--mobile {
		text-decoration: none;
		background-color: var(--clr-accent-lighter);
		border-radius: 6px;
	}

	#mobile--cart--items {
		color: var(--clr-grey);
	}

	#mobile--cart--items:is(:hover, :active) {
		background-color: var(--clr-def) !important;
		color: var(--clr-bg-middle) !important;
	}

	#mobile--cart--link:is(:hover, :active) {
		background-color: var(--clr-accent) !important;
	}

	.mobile-nav {
		position: absolute;
		top: 4.65rem;
		left: 0;
		width: 100%;
		margin: 0 auto;
		padding: 1.5rem 0;
		background-color: var(--clr-def);
		border-radius: 0 0 6px 6px;
	}

	.checkout-wrapper,
	.checkout-wrapper:is(:hover, :active) {
		border: solid var(--clr-bg-dark) 1px;
	}

	.footer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			"footer-logo footer-logo"
			"footer-nav footer-help"
			"footer-contact footer-contact";
		justify-items: center;
	}

	main,
	.container {
		width: 100%;
	}

	.container {
		padding-inline: 0.5rem;
	}
}

/* ----------Tablet + Desktop---------- */
@media (min-width: 767px) {
	#sidecart--button,
	#nav--mobile {
		display: none;
	}

	main,
	.container {
		width: 100%;
		max-width: 1170px;
	}

	.container {
		padding-inline: 1rem;
	}

	.footer-grid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto;
		grid-template-areas:
			"footer-logo footer-logo footer-logo footer-logo"
			"footer-about footer-nav footer-help footer-contact";
	}
}
